/*h1对red*/
h1{
    color: #0000FF;
    /*背景色*/
    background-color: rgb(242,135,238);
    text-align: right;
    /*フォント设定*/
   /* font-family:Arial, Helvetica, sans-serif ;*/
   font-family:'Borel',cursive ;
   /**/
   font-size: 20px;
   /* 横幅的设定*/
   width: 600px;
   height: 100px;
   margin: 0 auto;
}
p{
    background-color: greenyellow;
    text-align: center;
}
a{
    background-color: rgb(242,135,238);
    text-align: end;
}
