
body{
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
h2{
    color:#0004ff;
    font-family:inherit;
    font-style:inherit;
    text-align: center;
}
  
  div{
    width: 250px;
    margin: 0 auto;
    
  }
  input{
    text-align: left;
    border-radius: 10px;
    
  
  }
  label{
    width: 300px;
    height: 200px;
    
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  #submit{
    width: 200px; 
    background-color:lightyellow ;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  .home{
	  margin:0;
	  text-align: right;
  }
  .home a{
	  color:blue;
  }