h2.title{
    color: blue;
    text-align: center;
}

#container{
    width: 300px;
    margin: 0 auto;
}
input  {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

body{
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.home{
	  margin:0;
	  text-align: right;
  }
 .home a{
	  color:blue;
  }