div {
    height: 200px;
    width: 200px;
    border: 1px solid black;

}
#a{
    background-image: url(mountains.jpg);
    /*原画像的纵横比例状态*/
    background-size: contain;
    /*背景*/
    background-repeat: no-repeat;
}
#b{
    background-image: url(mountains.jpg);
    /*原画像的纵横比例状态*/
    background-size: cover;  
}
#c{
    background-image: url(mountains.jpg);
    /*原画像的纵横比例状态*/
    background-size: 20% 10%;  
}