<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/blogLogin.css}">
</head>

<body>
    <div id="container">
        <form th:action="@{/user/blog/register/process}" method="post" >
            <h2> 記事登録画面</h2>
            <table align="center">
                <p style="text-align:right">
					<a href="#">投稿記事一覧</a>
                    &nbsp;&nbsp;
                    <a th:href="@{/user/login}">ログアウト</a>
                  
				</p>
                <tr>
                    <td class="biaoti">标题</td>
                    <td><input type="text" name="title" class="biankuang"></td>
                </tr>
                <tr>
                    <td>上传图片</td>
                    <td><input type="file" name="image"></td>
                </tr>
                <tr>
                    <td class="biaoti">分类</td>
                    <td>
                        <select name="category">
                            <option value="sea">海洋</option>
                            <option value="land">陆地</option>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bjnr">编辑内容</td>
                    <td><textarea name="content" rows="10" cols="80"></textarea></td>
                </tr>
                
            </table>
            <input type="submit"    value="保存">
        </form>
    </div>
</body>
</html>